:root {
    --titulo-fontFamily: "Montserrat", sans-serif;
    --texto-fontFamily: "Lato", sans-serif;
    --texto-color: #c2c2d6;
    --titulo-color: #f1f1f1;
    --textoDestaque-color: #1D1933;
    --backgroundLinkHover: rgba(121, 105, 214, 0.19);
    --backgroundButton-color: #7969D6;
    --backgroundButtonActive-color: #7969d68e;
}

@keyframes DescerTexto {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes aparacerMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1D1933;
    background: linear-gradient(180deg, rgba(29, 25, 51, 1) 8%, rgba(117, 102, 207, 1) 42%, rgba(121, 105, 214, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3em;
    position: relative;

    animation: aparacerMenu 1s ease-in-out;
}

/* Menu de navegação */

#navbar ul {
    display: flex;
    list-style: none;
}

li {
    transition: .3s transform;
}

li:hover {
    transform: translateY(5px);
}

#navbar a {
    padding: .5em;

    font-family: var(--texto-fontFamily);
    font-weight: 400;
    font-size: 1rem;
    color: var(--texto-color);
    
    text-decoration: none;
    transition: .3s background-color;
}

#navbar a:hover {
    background-color: var(--backgroundLinkHover);
    border-radius: 7px;
    transform: translateY(-100px);
}

/* botão modo escuro/claro */
.header button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    
    padding: .2em;
    
    width: 2.5em;
    height: 1.8em;

    background-color: var(--backgroundButton-color);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;

    transition: .2s opacity;
}

.trocarModo:hover {
    opacity: .8;
}

.trocarModo:active {
    background-color: var(--backgroundButtonActive-color);
}

.trocarModo i {
    color: var(--texto-color);
}

/* section de boas vindas */
#welcome-section {
    height: calc(100vh - 3em);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section span {
    font-size: 1rem;
    font-weight: 100;
    font-family: var(--titulo-fontFamily);
    
    color: var(--titulo-color);
    animation: DescerTexto 1s ;
}

#welcome-section .destaque {
    color: var(--textoDestaque-color);
    font-weight: 700;
}
