@import url("variaveis.css");

@keyframes DescerTexto {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes aparacerMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-fundo-background);
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3em;
    position: relative;

    animation: aparacerMenu 1s ease-in-out;
}

/* Menu de navegação */

#navbar ul {
    display: flex;
    list-style: none;
}

li {
    transition: .3s transform;
}

li:hover {
    transform: translateY(5px);
}

#navbar a {
    padding: .5em;

    font-family: var(--subTexto-fontFamily);
    font-weight: 400;
    font-size: 1rem;
    color: var(--navbar-textoLink-color);
    
    text-decoration: none;
    transition: .3s background-color;
}

#navbar a:hover {
    background-color: var(--navbar-fundoLinkHover-background);
    border-radius: 7px;
    transform: translateY(-100px);
}

/* botão modo escuro/claro */
.header button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    
    padding: .2em;
    
    width: 2.5em;
    height: 1.8em;

    background-color: var(--trocarModo-fundoBotao-background);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;

    transition: .2s opacity;
}

.trocarModo:hover {
    opacity: .8;
}

.trocarModo:active {
    background-color: var(--trocarModo-fundoBotaoActive-background);
}

.trocarModo i {
    color: var(--trocarModo-iconeCor-color);
}

/* section de boas vindas */
#welcome-section {
    height: calc(100vh - 3em);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
#welcome-section h1 {
    font-size: 1rem;
    font-weight: 100;
    font-family: var(--titulo-fontFamily);
    
    color: var(--titulo-color);
    animation: DescerTexto 1s ;
}

#welcome-section .destaque {
    color: var(--welcomeSection-tituloDestaque-color);
    font-weight: 700;
}

/* section Falando sobre mim */
#apresentacao {
    height: 100vh;
}

#apresentacao h2 {
    font-family: var(--titulo-fontFamily);
    font-weight: 300;
    font-size: 2rem;

    color: var(--subTitulo-color);

    text-align: center;
    padding-top: 1em;
}

.tecnologias img {
    width: 50px;
}